html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: auto;
    margin: auto;
    /**    font-family: 'DotGothic16', sans-serif;

    font-family: 'Shippori Mincho', serif;*/
}

.row {
    width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 3px;
}


/**Navigation header starts**/

.navigation-header {
    background: #2cb2e7;
    padding: 0% 1%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0px 20px;
    transition: .4s;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 0.9rem;
    font-family: 'DotGothic16', sans-serif;
}

nav ul li a:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}


/**Navigation header ends**/


/**header starts **/

.patient-section {
    background-color: rgb(172, 222, 241);
    padding: 0% 1%;
    text-align: left;
}

.form-content input[type="text"] {
    width: 10%;
}


/**header ends **/

@media only screen and (min-width: 992px) {
    /* Large screen column width */
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    background-color: chartreuse;
    margin : 10 px;
    padding: 10px;

}

.flex-child {
    flex: 1;
    background-color: cyan;
    border: 2px solid black;
    margin : 20 px;
    padding: 10px;
    height : 700px;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
.flex-container-dx-cc-oe{
    display: flex;
    background-color: rgb(0, 255, 128);
    margin : 10 px;
    padding: 10px;
    flex-direction: column;
}
.flex-child-dx{
    flex:2;
    background-color: rgb(217, 255, 0);
    border: 2px solid rgb(240, 11, 11);
    margin : 10 px;
    padding: 10px;
    height: 200px;
    line-height: 60px;
}
.flex-child-cc{
    flex:1;
    background-color: cyan;
    border: 2px solid black;
    margin : 10 px;
    padding: 10px;
}
.flex-child-oe{
    flex:1;
    background-color: cyan;
    border: 2px solid black;
    margin : 10 px;
    padding: 10px;
}
/*
.grid-container{
    display: grid;
    background-color: rgb(238, 148, 12);
    margin : 10 px;
    padding: 10px;
}

.grid-item{
    background-color: rgba(130, 94, 214, 0.89);
    border: 2px solid black;
    margin : 10 px;
    padding: 10px;
    height : 200px;
}*/